
# 1.0 Python Hot Key:
#### 1. Esc == start exchange
#### 2. Y == coding status / M == markdown status / R== raw status 
#### 3. Enter == start edit / Shift + Enter == Finished current and go to next / Ctrl + Enter == Execute current
#### 4. A == insert above / B == insert below
#### 5. DD == delect current / Shift + M == Merge selected
#### 6. L == open line number

# 1.1 Syntax, Path, Print

In [6]:
var_v1 = 123
var_v1+1

124

In [7]:
var_str = 'My name is Meng Yan'

In [8]:
var_str

'My name is Meng Yan'

In [12]:
var_boolean = True

In [13]:
var_boolean

True

In [15]:
print("hello! "+var_str)

hello! My name is Meng Yan

In [25]:
"""
end of :

print need a tab before
"""

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
print("hello! %s" % var_str) # Comment

hello! My name is Meng Yan

In [23]:
print("hello!{0} hahahaha, yes, it is {1}".format(var_str,var_boolean))

hello!My name is Meng Yan hahahaha, yes, it is True

In [26]:
20/3

6.666666666666667

In [27]:
20.0/3

6.666666666666667

In [28]:
10 % 4 #mode  remainder

2

In [35]:
type(var_boolean)

bool

In [33]:

type(True)

bool

In [34]:
type(var_str)

str

# 1.2 Python Data Structure
## List, Dictionary, Tuples, Sets
#### 1.2.1 List i a mutable(易变的) , ordered array
#### 1.2.2 Dictionary is a key value hash table
#### 1.2.3 Tuples is immutable(不变的) array
#### 1.2.4 Set is immutable,unique array

## List

In [36]:
mylist = [1,2,3,4,5]

In [37]:
mylist[0]

1

In [39]:
for i in range(len(mylist)):
    print(mylist[i])

1
2
3
4
5

In [41]:
mylist[-1] # to access the last enement

5

In [42]:
mylist[2:]

[3, 4, 5]

In [44]:
mylist.append(7)

In [45]:
mylist

[1, 2, 3, 4, 5, 7]

In [46]:
mylist.pop(5)

7

In [47]:
mylist

[1, 2, 3, 4, 5]

# Dictionary

In [49]:
# K-V pair
var_dict = {'a':1, 'b':2,'c':3}

In [50]:
var_dict

{'a': 1, 'b': 2, 'c': 3}

In [53]:
print(var_dict['a'])

1

In [54]:
var_dict['d'] = 4

In [55]:
var_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [56]:
del var_dict['d']

In [57]:
var_dict

{'a': 1, 'b': 2, 'c': 3}

In [58]:
aa = [] # empty list
bb = {} # empty dict

In [59]:
bb['name'] = 'Meng Yan'

In [60]:
bb

{'name': 'Meng Yan'}

# 1.3 Loop & Function

In [82]:
def func_add(a,b):
    return a+b
def func_TestLoop(length_a):
    for i in range(length_a):
        aa.append(func_add(i,i+1))
        print(func_add(i,i+1))
    return "done"

In [83]:
func_TestLoop(9)

1
3
5
7
9
11
13
15
17

'done'

In [84]:
aa

[1, 3, 5, 7, 9, 11, 13, 15, 17]

# 1.4 Load file and library

In [7]:
import pandas as pd
xx = pd.read_csv('C:\\D\\Training\\DataScience\\InternalTraining\\Python\\testing_pandas.csv')
xx

   x  y
0  a  1
1  b  2
2  c  3
3  d  4
4  e  5
5  f  6